/************ WIRN **********/

body{font-family: 'Montserrat', sans-serif; font-size:14px; color:#111;}
a{color:#ffe200}
a:hover{color:#ffe200; transition: ease all 0.2s}
h2,h3,h4,h5,h6{
    color: #333032;
}
.text-primary{color:#ffe200 !important}
.btn{cursor: pointer; font-size:14px;}
.btn:hover{transition: ease all 0.2s}

.btn-primary {background-color: #3b5998;border-color: #3b5998;color: #fff;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{background-color: #3b5998;border-color: #3b5998;color: #fff;}

.bg-dark{background:rgba(18,18,18,0.8) !important;}
.navbar-dark .navbar-nav .nav-link:hover {color: rgba(255,255,255,1);}
.navbar-brand{padding-top: 0; padding-bottom: 0}

.page-link{color:#999}
.page-link:hover{color:#cd9a30}
.page-item.active .page-link {background-color: #d8ad57;border-color: #d8ad57;}

.bg-light{background:rgba(255,255,255,0.9) !important; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.18)}
.navbar .right-navbar li.nav-item{ color: #ffffff; text-transform: uppercase; font-size: 13px; line-height: 1;}
/* .navbar .right-navbar li.nav-item a{padding-left:15px; padding-right:15px; color: #ffffff;} */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color: #dcdcdc;}
/*.navbar.navbar-expand-lg li.nav-item a{color:rgba(255,255,255,0.8)}*/
.navbar-light .navbar-nav .nav-link {color: #333032; font-weight: 700; font-size: 0.88rem;  padding-right: 0.8rem; padding-left: 0.8rem;}
.navbar-light .navbar-nav .nav-link:hover{ color: #ffe200;}
.dropdown-item{ font-size: 0.8rem; }
.nav-menu{ font-size: 30px; }
/* .flag-area{ margin: 30px 0 0 30px;}
.flag{ width: 22px; height: 22px; margin-right: 10px; border-radius: 50%; overflow: hidden; }
.flag img{ width: 100%; height: 100%;}
.flag-area .media-body p{font-family: 'Montserrat', sans-serif; color: #ffffff; font-size: 12px; font-weight: 300;} */
.inner-nav{box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07), 0 0px 0px 0 rgba(0,0,0,0.07); background: #ffffff;}
.fixed-me.fixed-top{background: #fff;  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
.fixed-me.fixed-top .container .navbar-collapse .right-navbar .nav-item .nav-link{ color: #333032; }
.fixed-me.fixed-top .container .navbar-collapse .right-navbar .nav-item .nav-link:hover{ color: #ffe200; }
.home-banner{background: url('../images/home-banner.jpg') no-repeat top center; background-size: cover; padding: 120px 0 90px; color:#fff}
.home-banner h1{font-weight: 200; font-size: 4.7rem; margin-top: 0; font-family: 'Oswald', sans-serif; text-transform: uppercase; color: #333032; }
.home-banner h3{font-family: 'Oswald', sans-serif; font-weight: 700; font-size: 2.8rem; text-transform: uppercase; color: #ffe200; }
/* .home-banner h6{font-weight: 400;} */
.home-search{padding:0; margin-top: 15px;}
.home-search .input-group input{width: 85%; font-size: 13px; border-right: 1px solid #d6d6d6 !important;}
.home-search .input-group .form-control{border:1px solid #7a7f7f; padding-top: 0.8rem; padding-bottom: 0.8rem; border-radius: 1.6rem 0 0 1.6rem; background-color: rgba(255, 255, 255, 0.5) ; background-image: url(../images/search.png); background-repeat: no-repeat; background-position: 15px;}
.home-search .input-group select{ height: auto !important; width: 15%; font-size: 13px; margin-right: 0 !important; padding-right: 0 !important; }
.home-search .input-group .form-control.venue-name{border-left:1px solid #ededed}
.home-search .input-group .form-control.venue-location{position: relative; padding-left:35px}
.home-search .input-group .icon{position: absolute;left:10px; color:#999999; z-index:9; font-size:22px; transform: translateY(-50%); top:50%}
.home-search .input-group .btn{padding:0.8rem 2rem; border-radius: 0 1.6rem 1.6rem 0; border: 1px solid #333032; font-size:0.95rem; font-weight: 500; background-color: #333032; color: #ffe200; text-transform: uppercase; font-family: 'Oswald', sans-serif;}
/* .instant-btn{ background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; padding: 12px 28px !important; border:1px solid #ffffff; border-radius: 3px; }
.instant-btn:hover{ background: #191919; border: 1px solid #191919;} */


.banner-btm{ padding: 45px 0 45px;}
.banner-btm-tabber{ width: auto;}
.banner-btm-tabber .nav-tabs{ border-bottom: 0; justify-content: center;     margin-bottom: 2.5rem;}
.banner-btm-tabber .nav-tabs .nav-link{ border: 0; color: #666666; font-family: 'Oswald', sans-serif; font-size: 1.6rem; font-weight: 700;}
.banner-btm-tabber .nav-tabs .nav-link.active{border-bottom: 3px solid #333032; color: #333032;}
/* .nav-tabs .nav-item{font-family: 'Oswald', sans-serif; font-size: 1.6rem; font-weight: 700;} */

/* .banner-btm .tab-content .tab-pane{} */
.dress-collection { width: auto; height: auto; overflow: hidden; position: relative;}
.dress-collection img {width: 100%;}
.yellow-text{ color: #ffe200 !important;}
.dress-collection-b{ width: auto; height: auto; overflow: hidden; position: relative; margin-bottom: 1.5rem;}
.dress-collection-b img {width: 100%;}
.black-overlay {/* background-color: rgba(0, 0, 0, 0.5);  */ display: flex; flex-wrap: wrap; flex-flow: column nowrap; height: 100%;  opacity: 1; position: absolute; bottom: 0; left: 0; width: 100%; z-index: 100; padding: 30px 30px 30px;}
.black-overlay h3 { color: #ffffff; font-weight: 600; margin-bottom: 0.2rem; font-family: 'Oswald', sans-serif; text-transform: uppercase;}
.black-overlay h6{ color: #ffffff; font-weight: 500; font-size: 0.88rem; font-family: 'Oswald', sans-serif; text-transform: uppercase;}
.black-overlay h1{ font-weight: 200; font-family: 'Oswald', sans-serif; color: #ffe200;}


.feature-list{padding: 0 0 30px;}
.feature-list h3{font-weight: 300; color: #333032; font-size: 22px; margin-bottom: 1rem; }
.feature-list h5{color:#202020; font-weight: 300; font-size: 0.9rem}
.feature-caro{ margin: 0 auto; align-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;}
/* .feature-caro .bxslider{ width: auto;} */
.feature-caro-sec { width: auto; border: 0; border-radius: 0; text-align: center; background: #f9f9f9; margin: 0;}
.feature-caro-sec .user-image{ height: 180px; width: auto; display: flex; align-items: center; justify-content: center; padding: 1rem 2rem 0;}
.feature-caro-sec .user-image img{ display:initial; padding: 0;}
.feature-caro-sec h4{ font-size: 16px; font-family: 'Oswald', sans-serif; font-weight: 600; color: #202020; text-align: center; }
.courtesy-text{ font-weight: 400; margin-bottom: 3px; font-size: 12px; text-align: center; color: #333032;}
.feature-caro .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ bottom: -60px !important; }
.feature-caro .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{background:#575757 !important; } 
/*.feature-caro .bxslider li img{ width: 100%; height: auto;} */
.feature-text-part{ padding: 0 0 1rem;}
.popu-brand{ background: #333032 !important; padding: 3.6rem 3.6rem;}
.popu-brand h3{ color: #ffe200;  font-family: 'Oswald', sans-serif; font-weight: 500; text-transform: uppercase; text-align: left; font-size: 1.3rem;}
.popu-brand p{ text-align: left; color: #ffffff; font-size: 0.8rem; font-weight: 300;}


.most-popu-area{padding: 15px 0 30px; }
.most-popu-area .container .row div .top-brdr{ border-top:1px solid #e1e1e1; padding-top: 1.9rem; }
.most-popu{ width: auto; background: #f9f9f9;}
.most-popu-area .container .row div h3{ font-family: 'Oswald', sans-serif; color: #333032; font-weight: 600; font-size: 1.4rem; margin: 0 0 2rem;}
.most-popu-area .container .row div h3 i{color: #333032; font-size: 1.3rem;}
.most-popu-area .container .row div h6{font-family: 'Oswald', sans-serif; color: #333032; font-weight: 600; text-transform: uppercase;}
.most-popu-pic{width: auto;  height: 222px; border-bottom: 1px solid #959595; padding: 0; display: flex; align-items: center; justify-content: center;  overflow: hidden; position: relative; cursor: pointer; }
/* .most-popu{border-top: 3px solid #f4afff; width: auto; background: #f4f4f4; height: 334px; position: relative; transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; overflow: hidden;} */

.most-popu .most-popu-pic .overlay-div{ display: none;}
.most-popu .most-popu-pic:hover .overlay-div{position: absolute; height: 100%; width: 100%; background-color: hsla(320,6%,20%,0.6); top: 0; left: 0; right: 0; bottom: 0; cursor: pointer; overflow: hidden; text-align: center; display: block; transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; align-items: center; display: flex; justify-content: center; }
.overlay-div a{	background: #ffffff; border: 1px solid #ffffff; border-radius: 50%; padding: 10px 10px; margin: 5px; }

.most-popu-text{width: auto; padding: 1rem; }
.most-popu-text small{ font-weight: 500; color: #777777; margin-bottom: 0.5rem; }
.most-popu-text h4{font-family: 'Oswald', sans-serif; font-weight: 500; color: #555555; font-size: 1.1rem}
.most-popu-text-btm{ display: flex; align-items: flex-end; justify-content: space-between;}
.most-popu-text-btm-lt{ width: auto; margin-top: 0.4rem;}
.most-popu-text-btm-lt p{ margin-bottom: 0; font-size: 0.8rem; font-weight: 400; font-family: 'Montserrat', sans-serif; text-transform: uppercase; }
.most-popu-text-btm-lt h1{ color: #555555; margin-bottom: 0; font-family: 'Oswald', sans-serif; font-size: 1.77rem; font-weight: 600;}
.most-popu-text-btm-lt h1 .ask{ font-weight: 200 !important; font-size: 1.25rem;}
.most-popu-text-btm-rt{ width: auto; margin-top: 0.6rem;}
.most-popu-text-btm-rt h6{ font-weight: 600; font-size: 0.88rem; color: #333032; font-family: 'Oswald', sans-serif; margin-bottom: 0;}
.most-popu-text-btm .most-popu-text-btm-rt small{color: #999999; font-size: 0.88rem; }
.most-popu-text-btm .btn-area{ width: auto;}
.most-popu-text .btn-area .btn{ border-radius: 1.6rem; }
.most-popu-text .btn-area .btn-dark{ background: #333032; font-family: 'Oswald', sans-serif;  font-weight: 600; padding-left: 2.3rem; padding-right: 2.3rem;}
.most-popu-text .btn-area .btn-dark:hover{background: #f9f9f9; border: 1px solid #333032; color: #333032;}
.most-popu-text .btn-area .btn-outline-dark{ background: #f9f9f9; padding-left: 2.3rem; padding-right: 2.3rem; font-weight: 600; font-family: 'Oswald', sans-serif; border: 1px solid #333032; color: #333032; }
.most-popu-text .btn-area .btn-outline-dark:hover{ background: #333032; color: #ffffff;}


.sign-up-area{width: auto;}
.sign-up-lt{ width: auto; padding: 2rem 4rem;}
.sign-up-tab{ width: auto; margin-top: 3.5rem;}
.sign-up-tab .nav-tabs .nav-item {font-size: 1.4rem;  margin: 0 3.8rem;}
.sign-up-tab .nav-tabs .nav-item .nav-link{font-family: 'Oswald', sans-serif; padding: .5rem 1rem; color: #777777;  border: 0; font-weight: 600; text-transform: uppercase;}
.sign-up-tab .nav-tabs .nav-item .nav-link.active{ border-bottom: 3px solid #333032; color: #333032;}
.sign-up-tab .nav-tabs { border-bottom: 0; align-items: center; justify-content: center;}
.sign-up-form{ margin: 3.3rem 5rem;}
.sign-up-form .form-group{ margin-bottom: 1.6rem;}
.sign-up-form .form-group .form-control{ border-radius: 3rem; padding: 0.9rem 1rem; font-size: 0.82rem; border-color: #e1e1e1; }
.sign-up-form p{ color: #777777; font-size: 0.8rem;  margin-bottom: 0;}
.sign-up-form p a{ color: #777777; font-size: 0.9rem; font-weight: 500;  }
.sign-up-form p a:hover{ color: #333333;}
.sign-up-form div .btn-dark{ border-radius: 3rem; font-size: 1.03rem; padding: 0.8rem 5rem; background: #000000; font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 700;}
.sign-up-form div .btn-dark:hover{ background: #ffffff; color: #000000; border: 1px solid #000000; }
.sign-up-social{ margin: 0;     text-align: center;}
.sign-up-social .btn-primary{font-family: 'Oswald', sans-serif; color: #fff; border-radius: 3rem; border:1px solid #34518e; padding: 0.65rem 2rem;  font-size: 0.95rem; background: #3b5998;}
.sign-up-social .btn-primary i{ margin-right: 0.5rem;}
.sign-up-social .btn-primary:hover{ border: 1px solid #34518e; background: #ffffff; color: #34518e;}
.sign-up-social .btn-info{ background: #2ba9e1; color: #fff; border:1px solid #2399ce; font-family: 'Oswald', sans-serif; border-radius: 3rem; padding: 0.65rem 2rem;  font-size: 0.95rem;}
.sign-up-social .btn-info i{ margin-right: 0.5rem; }
.sign-up-social .btn-info:hover{border:1px solid #2399ce; color: #2ba9e1; background: #ffffff;}
.sign-up-form h6{ font-weight: 600; font-size: 0.9rem; margin-top: 1.8rem; margin-bottom: 1rem; color: #555555;}
.sign-up-form h3{ font-weight: 600; font-family: 'Oswald', sans-serif; margin-top: 7rem; margin-bottom: 1rem; color: #555555;}
.choose-vice{ width: auto;}
.choose-vice .btn-outline-dark{border-radius: 3rem; padding: 0.6rem 1.7rem;  margin: 0 0.5rem 0.6rem 0;}
.choose-vice .btn-outline-dark:focus{box-shadow: none;}
.sign-up-form .form-check .form-check-label{padding-left: 0;}
.sign-up-form .form-check{margin-top: 1.6rem;}
.sign-up-rt{ width: auto; padding:0; height: auto; overflow: hidden;   }



.edit-pro-area { width: auto; }
.edit-pro-form {width: auto; padding: 2rem 0; margin: 3rem 1rem;}
.edit-pro-form h3 {font-weight: 500; font-family: 'Oswald', sans-serif; margin-top: 2rem; margin-bottom: 1rem; color: #555555;}
.edit-pro-form h3 .yelw-text{ color: #ffe200; font-weight: 300; font-size: 0.9rem; padding-left: 0.5rem; }
.edit-pro-form div  h6 { font-weight: 600; font-size: 0.9rem; margin-top: 0; margin-bottom: 1rem; padding-left: 0.5rem; color: #555555;}
.edit-pro-form .form-group {margin-bottom: 0.6rem;}				
.edit-pro-form .form-group .form-control { border-radius: 3rem; line-height: 0.9; padding: 0.8rem 1rem; font-size: 0.82rem; border-color: #e1e1e1;}
.edit-pro-form .form-group select.form-control{ height: auto;}
.edit-pro-form div .btn{ border-radius: 3rem; padding: 0.8rem 3rem; font-family: 'Oswald', sans-serif; font-weight: 600; text-transform: uppercase;}
.edit-pro-form div .btn.btn-dark{ background: #333032;}
.edit-pro-form div .btn.btn-dark:hover{ background: #ffffff; color: #333032; }
.edit-pro-form div .btn.btn-dark:focus{box-shadow: none;}
.edit-pro-form div .btn.btn-outline-dark{ color: #333032;}
.edit-pro-form div .btn.btn-outline-dark:hover{background: #333032; color: #ffffff;}
.edit-pro-form div .btn.btn-outline-dark:focus{box-shadow: none;}

.pro-lt{ width: auto; background: #e1e1e1;}
.pro-lt h4{ margin-top: 4.5rem; padding: 2rem 3.9rem 1.6rem; font-weight: 500; font-size: 1.7rem;}
.pro-lt .list-group .list-group-item{ padding: 0; background: #f9f9f9;}
.pro-lt .list-group .list-group-item a{ color: #333032; font-weight: 500; text-decoration: none; display: block; padding: 1.3rem 2.88rem;}
.pro-lt .list-group .list-group-item a i{ margin-right: 1rem;}
.pro-lt .list-group .list-group-item a:hover{background: #ffffff;}
.pro-rt-sec{ width: auto; margin-bottom: 1.6rem;}
.pro-rt-sec h5{font-family: 'Oswald', sans-serif; color: #333032; font-weight: 400; font-size: 1.1rem;}
.pro-rt-sec h5 a i{font-size: 0.8rem; margin-left: 0.2rem; color: #333032;}
.pro-rt-sec p{ font-weight: 500; font-size: 0.8rem;}
.pro-rt-sec p a{color: #ffe200;}
.pro-rt-sec p a:hover{color: #777777;}
.pro-rt-sec .btn-dark{ background: #333032 !important;}
.pro-rt-sec .btn-dark:hover{ background: #000000; color: #ffffff !important;}


.portfolio-ban { background: url(../images/portfolio-ban.png) no-repeat top center;	background-size: cover; padding: 50px 0 100px; margin: 5% 0 0; color: #fff; }
.portfolio-ban h1{font-family: 'Oswald', sans-serif; color: #333032; font-weight: 700;}

.most-popu-text-btm-lt h4 .item { font-weight: 400 !important; font-size: 0.95rem; color: #333032; font-family: 'Montserrat', sans-serif;}
.most-popu-text-btm-lt h2 .item {font-weight: 400 !important; font-size: 0.95rem; color: #333032; font-family: 'Montserrat', sans-serif;}
.most-popu-text-btm-lt h2 { color: #555555; margin-bottom: 0; font-family: 'Oswald', sans-serif; font-size: 1.3rem; font-weight: 600;}
.green-txt{color: #00970e;}




footer{background:#333333; }
footer .footer-top{padding:60px 0; border-bottom: 1px solid #3d3836;}
footer h5{font-size:16px; margin-bottom: 15px; color: #ffffff; font-weight: 300;}
.footer-column{ width: auto;}
.footer-column h5{ font-family: 'Oswald', sans-serif; color: #ffe200; font-weight: 500; font-size: 1.22rem; }
.footer-column ul{justify-content: flex-start !important;}
.footer-column ul li{margin: 15px 45px 15px 15px !important; color: #ffffff;}
.footer-column ul li a i{ background: #ffffff; width: 37px; height: 37px; margin-right: 1rem; border-radius: 50%; display: flex; align-items: center; justify-content: center; color: #333333; font-size: 0.9rem;}
.footer-top ul{list-style-type: none; padding: 0; margin: 0; margin-left: -15px; margin-right: -15px; justify-content:space-between}
.footer-top ul li{margin: 15px; /* width: 23%;*/}
.footer-top ul li a.footer-links{display: block; color: #d0d0d0; margin: 4px 0; font-size: 13px; font-weight: 300;}
.footer-top ul li a.footer-links:hover{color: #fff; transition: ease all 0.2s; text-decoration:none}
.footer-top ul li p.contact{color: #666;}

.footer-bottom{background: #555555;}
.footer-bottom ul{list-style-type: none; padding: 0; margin: 0; text-align: right;}
.footer-bottom ul li{display: inline-block;}
.footer-bottom ul li a{display: block; color: #fff; width:38px; height:32px; margin:2px; border-radius:10%; border: 1px solid #575555; line-height: 32px; background: #211e1e; text-align: center; font-size:18px}
.footer-bottom ul li.social-links a:hover{transition: ease all 0.2s; background: #5e5e5e}
.footer-bottom .copyright{color:#666; font-size:13px; font-weight:300; margin-bottom: 0; text-align: center; color: #ffffff;}


.navbar.navbar-inverse.inner-header .navbar-nav li a .up{color:#b9bbc2;}
.navbar.navbar-inverse.inner-header .navbar-nav li.notification-icon a{color:#b9bbc2; position: relative; font-size:26px; padding-top:5px; padding-bottom:5px; line-height: 1}
.navbar.navbar-inverse.inner-header .navbar-nav li.notification-icon a span{color:#fff; position: absolute; font-size:10px; background: #f26c4f; border-radius:100%; text-align: center; width:18px; height:18px; right:8px; top:1px;line-height: 18px; }
.after-login-user{margin-left:8px; margin-right:8px; position: relative;}
.after-login-user .user-image{margin-right: 10px}
.after-login-user .user-image img{width:32px; height:32px; border-radius:100%; object-fit:cover;}
.after-login-user .user-info small{font-size:14px;display: block; margin-top: 8px; margin-bottom: 2px}
.after-login-user .user-info small span{color:#d8ad57}


.drop-menu{position: absolute; right:0; top:40px; z-index: 1; display: none}
.drop-menu ul{padding: 0; list-style-type: none;}
.drop-menu ul li small{font-size:14px}
.drop-menu.show{display: block;} 



/********** CSS Menu ************/

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 14px;
  position: relative;
}
#cssmenu {width:180px; background: #ececec; box-shadow:0px 1px 6px 0px rgba(0,0,0,0.13); padding: 8px 10px; margin-top:11px; position: relative;}
#cssmenu:before{content:'';position: absolute; left:50%; transform: translatex(-50%); width: 0; top:-6px;
height: 0; z-index: 2;
border-style: solid;
border-width: 0 6px 9px 6px;
border-color: transparent transparent #ececec transparent;
}
#cssmenu a {
  line-height: 1;
}
#cssmenu > ul > li {
  background: #ececec;
  border-bottom: 1px solid #d5d7db;
}
#cssmenu > ul > li:last-child{border-bottom:0;}

#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  color:#52555f !important;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  color:#d8ad57 !important;
}

#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 96% center no-repeat;
}

/* Sub menu */

#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  padding: 0;
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 5px 10px;
  display: block;
  font-weight: normal;
  color:#b9bbc2 !important;
}
#cssmenu ul ul a:hover{color:#d8ad57 !important;}

/************* Search *************/

.search-banner {
    background: url(../images/search-banner.jpg) no-repeat top center;
    background-size: cover;
    padding: 75px 0 60px;
    color: #fff;
}
.search-banner h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: #333032;
}
.list-leftbar h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
}
.list-leftbar .custom-control-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #777777;
    font-weight: 500;
}
.list-leftbar .custom-control{
    padding: 8px 0px;
    padding-left: 22px;
}
.list-leftbar .custom-checkbox .custom-control-input:checked~.custom-control-label{
    font-weight: 600;
    color: #333032;
}
.list-leftbar .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #333032;
}
.list-leftbar .custom-checkbox .custom-control-label::before{
    border-radius: 0;
}
.page-breabcrumb .breadcrumb{
    background-color: #fff;
}
.page-breabcrumb .breadcrumb a{
    color: #777777;
}
.page-breabcrumb .breadcrumb li i{
    color: #777777;
}
.page-breabcrumb .breadcrumb li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333032;
}

/*list and grid*/

{
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the buttons */
.btns {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #fff;
    cursor: pointer;
    color: #333032;
}
.btns  i{
    color: #333032;
    font-size: 18px;
    padding-right: 15px;
}
.btns:hover {
}
.btns.active {
    color: #333032;
}
.list-column .most-popu{
    display: flex;
    justify-content: space-around;
    border:1px solid #eeeeee;
}
.list-column {
    width: 100%;   
}
.list-column .most-popu-pic{
    border-bottom: none;
}
.left-top{
    border: 1px solid #959595;
    padding: 8px 20px;
}
.left-view .form-control{
    border-radius: 3rem;
    font-size: 12px;
    border-color: #e1e1e1;
    background: #ebebeb;
    color: #333032;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.left-view .col-form-label{
    font-weight: 600;
    font-size: 12px;
}
.left-size .form-control{
    border-radius: 3rem;
    font-size: 12px;
    border-color: #a1a1a1;
    color: #333032;
    font-size: 14px;
    font-weight: 600;
    height: 42px;
}
.left-size label{
    font-size: 15px;  
    text-transform: uppercase;
    font-weight: 700;
}
/*Range slider*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #333032;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #333032;
    cursor: pointer;
}


/* Range Slider */
.range_slider {position:relative; width:100%; padding:10%;}

/* Input */
.range_slider .ix-min-input {position:absolute; top:0; left:0; margin:20px;}
.range_slider .ix-max-input {position:absolute; top:0; right:0; margin:20px;}

/* Progress Bar (TouchEvent Area) */
.range_slider .ix-slider-bar {position:absolute; top:0; left:0; right:0; height:10px; border-radius:5px;}
.range_slider .ix-progress {position:absolute; width:100%; height:100%; border-radius:5px;}

/* Icon */
.range_slider .ix-min-icon,
.range_slider .ix-max-icon {position:absolute; margin-top:-5px; margin-left:-10px; width:20px; height:20px; cursor:pointer; border-radius:10px; box-sizing:border-box; background:#4f4f4f; box-shadow:1px 1px 2px 2px rgba(0,0,0,0.2);}
.range_slider .ix-min-icon:focus,
.range_slider .ix-max-icon:focus {background:orange;}

.red {background:#8f8e8e;}
.gray {background:#DBDBDF;}
/****************Details****************/
.thumbnails{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.easyzoom a img{
    object-fit: cover;
}
.thumbnails li{
    list-style: none;
    width: 86px;
    height: 86px;
    margin: 45px 0;
}
.thumbnails li img:hover,
{
    border: 3px solid #000;
}
.thumbnails li.active{
    border: 3px solid #000;
}
.thumbnails li img{
    width: 86px;
    height: 86px;
    object-fit: cover;
    border: 1px solid #898989;
}
.details-text{
    margin-left: 20px;
}
.details-text h2{
    font-family:  'Oswald', sans-serif;
    font-size: 32px;
    color:#3a3839;
}
.details-text h6{
    color: #777777;
    font-weight: 600;
}
.details-text p{
    color: #777777;
    line-height: 28px;
}
.details-text label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 10px;
    color: #777777;
}
.details-text .form-control {
    border-radius: 3rem;
    font-size: 12px;
    border-color: #a1a1a1;
    color: #777777;
    font-size: 16px;
    font-weight: 600;
    height: 42px !important;
    width: 30%;
}
.details-text h6 span{
    font-size: 40px;
    font-family:  'Oswald', sans-serif;
    color: #333032;
    margin-right: 30px;
    margin-left: 10px;
}
.details-text h6 i{
    color: #0db800;
    font-size: 21px;
    margin-right: 6px;
}
.size p{
    font-weight: 600;
    margin: 0;
}
.size a{
    font-weight: 600;
    font-size: 14px;
    color: #777777;
}
.size a:hover{
    text-decoration: none;
    color: #ffe200;
}
.line{
    width: 2px;
    background: #777777;
    height: 14px;
    margin: 0 12px;
}
.size-bt{
    background: #333032;
    border: 1px solid #333032;
    border-radius: 50px;
    padding: 11px 38px;
    color: #fff;
    font-size: 16px;
    font-family:  'Oswald', sans-serif;
    cursor: pointer;
}
.size.sm{
    justify-content: space-evenly;
}
.size.sm p,
.size.sm a{
    font-size: 12px !important;
}
.size.sm .line{
    height: 10px;
    margin: 0 5px;
}
.size-bt.active,
.size-bt:hover{
    background: #fff !important;
    color: #333032 !important;
}
.size-bt.active:hover{
    background: #333032 !important;
    color: #fff !important;
}
.size-bt i{
    padding-left: 12px;
}
.grey-bt a{
    background: #d7d7d7;
    border: 1px solid #d7d7d7;
    border-radius: 50px;
    padding:9px 30px;
    color: #333032;
    font-size: 12px;
    font-family:  'Oswald', sans-serif;
    font-weight: 600;
}
.grey-bt a:hover{
    background: #fff;
    text-decoration: none;
}
.grey-bt a i{
    margin-right: 5px;
}
.related-product h3{
    font-family: 'Oswald', sans-serif;
    color: #333032;
    font-weight: 600;
    font-size: 28px;
    margin: 0 0 2rem;
}
.related-product h6{
    font-family: 'Oswald', sans-serif;
    color: #333032;
    font-weight: 600;
    font-size: 20px;
}
.most-popu-text h5{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #555555;
}
.detail h1{
    font-size:40px !important;
}
/********************Buy Works*********************/
.works h2{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #333032;
}
.works h6{
    color: #777777;
    font-weight: 600;
}
.works .card img{
    width: 60px;
    height: 60px;
    margin: auto;
}
.works .card{
    border: none;
    margin: 0 20px;
}
.works .card .card-title{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #333032;
    margin: 18px 0;
}
.works p{
    font-size:16px;
    color: #777777;
}
/*******************bid-buy********************/
.bid h2{
    font-family: 'Oswald', sans-serif;
    color: #333032;
}
.bid h4{
    color:#777777;
}
.bid .form-control{
    border-radius: 3rem;
    font-size: 12px;
    border-color: #a1a1a1;
    font-size: 16px;
    color: #777777;
    height: 45px !important;
    /* padding: 21px 20px; */
}
.bid .form-group{
    position: relative;
}
.bid .form-group i{
    position: absolute;
    top: 11px;
    right: 20px;
    color: #777777;
    font-size: 18px;
}
.bid .form-group label{
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.tab .btn-primary{
    font-family: 'Oswald', sans-serif;
    color: #333032;
    font-size: 16px;
    text-transform: uppercase;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 0;
    border-bottom: 3px solid #fff !important;
    padding: 6px 5px;
}
/* .tab .btn-primary.active, */
.tab .btn-primary:hover,
.tab .btn-primary:focus{
    background-color: #fff !important;
    color: #333032 !important;
    box-shadow: none;
    border-bottom: 3px solid #202020 !important;
}
.tab p{
    color: #555555;
}
.top{
    border-top: 1px solid #7d7d7d;
    font-weight: 600;
}
.bid .card-body{
    border: none;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
.bid h3{
    font-family: 'Oswald', sans-serif;
    color: #333032;
}
.bid h6,h5,p{
    color: #777777;
}
.bid p{
    line-height: 24px;
}

/* The container */
.container-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 72px;
    color: #3d3c3d;
    font-size: 16px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #eee;
    border-radius: 8px;
    border: 1px solid #898989;
    background-color: #fff;
    padding: 10px;
  }
  
  /* On mouse-over, add a grey background color */
  .container-box:hover input ~ .checkmark {
    background-color: #f2f2f2;
    color: #3d3c3d;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-box input:checked ~ .checkmark {
    background-color: #333032;
    color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-box input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-box .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: #333032;
  }

/*******************News**********************/
.news-banner {
    background: url(../images/news-banner.jpg) no-repeat top center;
    background-size: cover;
    padding: 75px 0 60px;
    color: #fff;
    margin-top: 76px;
}
.news-banner h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: #333032;
}
.news-left h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.news-left h5{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #555555;
    padding-bottom: 10px;
}
.news-left h6{
    font-size: 12px;
    color: #333032;
}
.news-left .border-bottom{
    border-bottom: 1px dashed #959595 !important;
}
.month{
    font-family: 'Oswald', sans-serif;
    background: #ffe200;
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
    width: 91px;
    height: 43px;
    padding: 10px;
}
.date{
    font-family: 'Oswald', sans-serif;
    background: #ebebeb;
    font-size: 40px;
    display: inline-block;
    font-weight: 500;
    padding: 10px;
    width: 91px;
    height: 84px;
    padding: 10px;
}
.news-right h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.news-right h6{
    font-size: 14px;
    font-weight: 500;
}
.news-right h6 a{
    color: #333032;
    font-size: 14px;
    font-weight: 600;
}
.news-right h5 i{
    background: #ebebeb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
    color: #333333;
}
.news-right h5 i:hover{
    background: #ffe200;
}
.news-right h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
/*******************Portfolio********************/
.portfolio-banner {
    background: url(../images/portfolio-banner.jpg) no-repeat top center;
    background-size: cover;
    padding: 75px 0 60px;
    color: #fff;
    margin-top: 76px;
}
.portfolio-banner h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #333032;
}
.port .most-popu-text-btm-lt h1 .ask{
    font-size: 14px !important;
    font-weight: 500 !important;
}
.port .most-popu-text-btm-lt h1{
    font-size: 16px;
}
.port h3{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #555555;
}
.port h4{
    font-size: 14px;
}
.port h4 span{
    font-size: 24px;
}
.port .green-txt{
    font-size: 16px;
}
.port-modal .modal-content{
    border-radius: 15px;
}
.port-modal .modal-header{
    background: #333032;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.port-modal .modal-header h5{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.port-modal .close{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px 6px;
    margin: 0;
    color: #fff;
    opacity: 1;
}
.port-modal .close:hover{
    color: #ffe200 !important;
    border: 2px solid #ffe200;
    opacity: 1;
}
.port-img{
    width: 190px;
    height: 200px;
    border: 2px solid #959595;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.port .modal-lg {
    max-width: 800px;
}
.port-radio-bt h4{
    font-size: 20px !important;
    font-weight: 700;
}
.port-radio-bt .form-check-inline .form-check-label{
    font-size: 20px;
    font-weight: 500;
    color: #333032;
    padding-left: 5px;
}
.port-radio-bt .form-check-inline .form-check-input{
    width: 17px;
    height: 17px;
}
input[type="radio" i], input[type="checkbox" i]{
    background-color: #fff !important;
}
/* The container */
.container-port {
    display: block;
    position: relative;
    padding-left:30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-port input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-port {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #333032;
    margin-top: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .container-port:hover input ~ .checkmark-port {
    background-color: #fff;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-port input:checked ~ .checkmark-port {
    background-color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-port:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-port input:checked ~ .checkmark-port:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-port .checkmark-port:after {
       top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #333032;
  }
.port-radio-bt .form-control{
    border-radius: 3rem;
    border-color: #a1a1a1;
    color: #333032;
    font-size: 14px;
    font-weight: 500;
    height: 42px !important;
}
/*********calender*********/
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    background: #fff;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-widget-header .ui-icon {
    background:url(../images/ui-icons.png) ;
}
.ui-widget-header .ui-icon::after {
    content: "f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.ui-widget-header .ui-icon::before {
    content: "    f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker {
    position: absolute;
top: 37px;
left: 50.6875px;
z-index: 1;
display: block;
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 2px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next {
	right: 8px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 8px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-m
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}

/**/
.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
        outline: none !important;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 11%;
        }
        .irs-line-mid {
            left: 9%; width: 82%;
        }
        .irs-line-right {
            right: 0; width: 11%;
        }

    .irs-bar {
        position: absolute; display: block;
        left: 0; width: 0;
    }
        .irs-bar-edge {
            position: absolute; display: block;
            top: 0; left: 0;
        }

    .irs-shadow {
        position: absolute; display: none;
        left: 0; width: 0;
    }

    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {

        }
        .irs-slider.from {

        }
        .irs-slider.to {

        }
        .irs-slider.type_last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; display: block;
        top: 0; left: 0;
        cursor: default;
        white-space: nowrap;
    }

.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        padding: 0 3px;
        color: #000;
    }

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    opacity: 0.4;
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}


/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// Â© Denis Ineshin, 2014    https://github.com/IonDen
// Â© guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 10px; top: 33px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

.irs-bar {
    height: 10px; top: 33px;
    border-top: 1px solid #4d4d4e;
    border-bottom: 1px solid #4d4d4e;
    background: #428bca;
    background:#626262; /* W3C */
}
    .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid #428bca;
        border-right: 0;
        background: #428bca;
        background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 25px;
    width: 27px; height: 27px;
    border: 1px solid #AAA;
    background: #DDD;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 20%,rgba(255,255,255,1) 100%); /* W3C */
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #aaaaaa;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}
/*************/
.port-radio-bt h5{
    font-size: 16px;
    font-weight: 600;
    color: #333032;
}
.port-modal .modal-footer{
    border: none;
    padding: 15px 0;
}
.port-modal .modal-body{
    padding: 18px 25px;
}
.port .most-popu-pic:hover{
    background: #dcdbdb;
}






/************* Responsive Style ***********/

@media (min-width: 992px){
	.modal-dialog {max-width: 400px;}
}
@media (min-width: 576px) and (max-width:768px){
	.best-venue ul li {width: 48.5%;}
	.bg-light{background:rgba(255,255,255,1)!important}
}
@media (max-width: 575.98px) {
    .best-venue ul li {width: 100%;}
    .edit-pro-form div .btn{
        padding: 8px 17px;
        font-size: 16px;
    }
    .size-bt {
        padding: 7px 22px !important;
    }
    .news-right h3{
        font-size: 22px;
    }
    .portfolio-banner h3{
        font-size: 30px;
        color: #ffffff;
    }
    .port-img{
        margin-bottom: 10px;
    }
    .form-check-inline+.form-check-inline{
        margin-left: 0;
    }
    .grey-bt{
        justify-content: center;
    }
    .grey-bt a {
        padding: 9px 25px;
        margin-right: 5px;
    }
    .breadcrumb{
        margin-bottom: 0;
        padding: 0;
    }
    .left-top{
        margin-top: 30px;
    }
    .column{
        width: 100%;
    }
    .checkmark{
        width: 50px;
        height: 60px;
        padding: 5px;
    }
    .container-box{
        padding-left:0;
    }
    .bid .col-lg-7 img{
        margin-bottom: 10px;
    }
    .bid h2{
        margin-top: 0 !important;
    }
    .sign-up-form{
        text-align: center;
    }
    .sign-up-social .btn-info{
        margin-top: 10px;
    }
    .sign-up-tab .nav-tabs{
        margin-bottom: 10px;
    }
}
@media (max-width: 767px){
	.bg-light{background:rgba(255,255,255,1)!important}
	.footer-top ul{flex-wrap:wrap; justify-content: space-around;}
	.artist-client .col-lg-2{display: none}
	.artist-client{padding: 0}
	.artist-client .col-lg-5{margin:30px 0}
	.selling-right {padding: 0; border-left:0; margin-left: 0px;}
	ul.searchlist{margin-left: 0; margin-right: 0}
	ul.searchlist li{margin-left: 0; margin-right: 0; width: 100%}
	.after-login-user{margin-bottom: 8px}
	.event-type-list li{width:50%}
    .sign-up-lt{
        padding: 10px;
    }
    .sign-up-form{
        margin: 0;
    }
    .sign-up-form div .btn-dark{
        padding: 10px 25px;
    }
    .sign-up-tab{
        margin-top: 20px;
    }
    .sign-up-form h3{
        margin-top: 3rem;
    }

}
@media (max-width: 360px){
	.event-type-list li{width:100%}
}
@media (max-width: 375px){
	.vendor-dashboard-top ul.links{flex-wrap:wrap}
	.vendor-dashboard-top ul.links li{margin-bottom: 8px; border: 0}
	.vendor-dashboard-top ul.links li a{color:#333; padding-left: 0}
	.posted-extra-links li{margin: 5px 0; margin-right:5px}
	.posted-extra-links li a{display: block; text-align: center;}
	

}

